h1{
    color:rgb(4, 38, 82)
}

h2 {
    text-align:auto;
    color:aliceblue;
    margin: 10px;
}

h4 {
    text-align:auto;
    color:aliceblue;
    margin: 10px;
}
h3{
    text-align: center;
}

p{
    color:aliceblue;
}


.container {
    background-color: #494856;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    padding: 10px;
    width: auto;
    border: 5px solid #d3d3d1;
    
    
} 
.card {

    color:#d3d3d1;
    background-color: #494856;
    border: 5px solid #d3d3d1;
    border-radius: 6px;
    width: auto;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin: 30px;
    
}

.card:hover {
    color:#817d8e;
    background-color: #d3d3d1;
    border: none
}

button {

    background-color:#696059;
    color:white;
    border-radius: 7px;
    padding: 4px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    margin: 4px;
    border: none;
}

button span {
    
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5sec;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right:0;

}

li {
    list-style: none;
}

/*button:hover {

    background-color: rgb(84, 44, 8);

}*/

