
    

 <div class="container" id="sites" gdArea="header">
    <h2> Portfolio</h2>
    <p>Imake stuff! Front end and full stack, mostly use react, angular, and Next.js </p>
    <h4>React | Angular | Next.js | Bootstrap</h4>
</div>

<div 
  gdAreas="Card1 Card2 Card3 | Card4 Card5 Card6"
  gdGap="30px"
  gdRows="auto auto"
  gdAreas.lt-md="Card1 Card2 | Card3 Card4 | Card5 Card6"
  gdRows.lt-md="auto auto auto"
  >


  <div class="card" gdArea="Card1">
    <h3>
        {{ name }}
    </h3>
    <li>
        {{ description }}
    </li>
    <button class="button"><span>
        {{ url }}
    </span></button>
    <button class="button"><span>
        {{ github }}
    </span></button>
   </div>
  <div class="card" gdArea="Card2">
    <h3>
        {{ name2 }}
    </h3>
    <li>
        {{ description2 }}
    </li>
    <button class="button"><span>
        {{ url2 }}
    </span></button>
    <button class="button"><span>
        {{ github2 }}
    </span></button>
   </div>
  <div class="card" gdArea="Card3">
    <h3>
        {{ name3 }}
    </h3>
    <li>
        {{ description3 }}
    </li>
    <button class="button"><span>
        {{ url3 }}
    </span></button>
    <button class="button"><span>
        {{ github3 }}
    </span></button>
  </div>
  <div class="card" gdArea="Card4">
    <h3>
        {{ name4 }}
    </h3>
    <li>
        {{ description4 }}
    </li>
    <button class="button"><span>
        {{ url4 }}
    </span></button>
    <button class="button"><span>
        {{ github4 }}
    </span></button>
  </div>

  <div class="card" gdArea="Card5">
    <h3>
        {{ name5 }}
    </h3>
    <li>
        {{ description5 }}
    </li>
    <button class="button"><span>
        {{ url5 }}
    </span></button>
    <button class="button"><span>
        {{ github5 }}
    </span></button>
  </div>

  <div class="card" gdArea="Card6">
        <h3>
            {{ name6 }}
        </h3>
        <li>
            {{ description6 }}
        </li>
        <button class="button"><span>
            {{ url6 }}
        </span></button>
        <button class="button"><span>
            {{ github6 }}
        </span></button>
  </div>

</div>