
    

<br>
<div 
gdAreas=" header header video video video | Bio Bio video video video | Bio Bio video video video"
gdGap="30px"
gdRows="auto auto auto"
gdAreas.lt-md="header | Bio | video"
gdRows.lt-md="auto auto auto"
>

<div class="container" gdArea="header" id="about">
  <h2> About Me </h2>
 </div>
<div class="container" height="300" gdArea="Bio">
  <li>
       After 10 years in education in 2021 I made the decision to leave the classroom and persue a new carrier in Web Design and Development. In 2021 I enrolled in a 
       Women's Cohort through MIT and through that received my certification in FullStack development in 2022. While my focus is in Front end Development using React and Angular, 
       I am always looking for new ways to expand my knowledge base. 
  </li>
  <br>
  <br>
  <h5>B.S. of Arts | Masters of Education | Certification in FullStack with MERN</h5>
 
</div>

<div class="container" width="650" gdArea="video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TlGP4_l4lz4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
 </div>




</div>