

h2 {
    text-align:auto;
    color:aliceblue;
    margin: 10px;
}

h3{
    text-align: center;
}

p{
    color:aliceblue;
}


.container {
    background-color: #494856;
    text-align: center;
    border-radius: 7px;
    justify-content: center;
    border: 5px solid #d3d3d1
    
}

h6 {
    color:#d3d3d1
}

button {

    background-color:#696059;
    color:white;
    border-radius: 7px;
    padding: 4px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
    margin: 4px;
    border:none;
}

button span {
    
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;

}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5sec;
}

label {
    display: inline-block;
    text-align: left;
    color:aliceblue
  }

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right:0;

}

li {
    list-style: none;
}

/*button:hover {

    background-color: rgb(84, 44, 8);

}*/

